body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 70px;
}

footer {
  height: 100px;
  background-color: rgb(80, 80, 80);
}

#navItems {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3em;
}
#navItems a {
  text-decoration: none;
  padding: 0 40px;
}
#navItems a i {
  text-decoration: none;
  font-size: 1.6em;
  color: rgb(31, 136, 221);
}

#navItems a p {
  color: black;
  text-decoration: none;
}

#navItems a p:hover {
  color: rgb(0, 160, 252);
}

#topSection {
  height: 700px;
  background-image: url("assets/background-opacity80.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#titleText {
  margin: 0;
  padding: 80px 50px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#idText {
  color: rgb(141, 243, 128);
  font-size: 2.5em;
  font-weight: 200;
}

#equalSymbol {
  color: white;
  font-size: 2.5em;
  font-weight: 200;
}

#nameText {
  color: rgb(245, 235, 101);
  font-size: 2.5em;
  font-weight: 200;
}

#selfieContainer {
  margin: 0 20%;
  height: 200px;
  width: 200px;
}

#selfie {
  height: 100%;
  border: 7px solid white;
  border-radius: 50%;
}

#projectSection {
  margin: 30px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}

.grid-item {
  height: 300px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.portfolioThumbnails {
  height: 100%;
  box-shadow: 1px 2px 7px 0 grey;
}

/* // */
.projectContainer {
  display: flex;
  flex-direction: row;
}

.projectDescription {
  width: 300px;
  margin: 30px 0 0 40px;
}

.imageContainer {
  height: 500px;
  width: 300px;
  margin: 30px 0 80px 100px;
}

.portfolioThumbnails {
  margin: 0 0 0 0;
  height: 100%;

  justify-content: right;
  box-shadow: 1px 2px 7px 0 grey;
}

#projects {
  margin-top: 70px;
}
