body {
  font-family: "Julius Sans One", sans-serif;
}

footer {
  height: 100px;
}

#jumboImage {
  background-image: url("assets/code_bg.jpg");
  background-size: cover;
  height: 800px;
  margin-bottom: 0;
}

.fas.fa-bars {
  color: white;
}

#myName {
  margin-top: 15%;
}
#myTitle {
  font-family: "Cutive Mono", monospace;
}

.fab {
  color: rgb(31, 136, 221);
}

.fas {
  color: grey;
}

#selfPicContainer {
  height: 100px;
}
#selfPic {
  height: 100%;
  border: 1px solid white;
  border-radius: 50px;
}

#aboutMe1 {
  background-color: rgb(245, 245, 245);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0);
}

.imgC {
  height: 60px;
}

#projectLogos {
  height: 90%;
}

#projectLogos:hover {
  height: 100%;
}

/* /MODAL STYLING/ */
.modal-header {
  height: 35px;
  background-color: black;
  color: white;
  align-content: top;
}

.modal-content {
  background-color: white;
  color: rgb(0, 0, 0);
}

#githubContainer {
  height: 50px;
}

#githubLogo {
  height: 70%;
}

.btn-outline-secondary.custom-btn {
  border: none;
}

@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}
