/* #yippie {
  width: 200px;
} */

/* nav {
  position: relative;
} */

footer {
  height: 50px;
}

/* # #tester {
  position: absolute;
} */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: black;
}

.imgC {
  height: 70px;
}

#reactLogo {
  height: 90%;
}

#reactLogo:hover {
  height: 100%;
}

/* #projectSelector {
  height: 150px;
} */

@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}
